.wrapper {
		padding: 6em 0 4em 0;
	}

		.wrapper.style1 {
			background: #e67e22;
			color: #f9d9d7;
		}

			.wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6, .wrapper.style1 strong {
				color: #ffffff;
			}

			.wrapper.style1 header.major:after {
				background: rgba(255, 255, 255, 0.25);
			}

		.wrapper.style2 {
			background: #ffffff;
		}

		.wrapper.style3 {
			background: #f4f4f4;
		}

		.wrapper.style4 {
			background: #fafafa;
		}


.feature {
    margin: 0 0 2em 0;
    padding: 2em 0 2em 9em;
    position: relative;
  }
@media only screen and (min-width: 768px) and (max-width: 991px) {
 .feature{
    padding: 2em  2em 9em;
 }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {

  .feature{
    padding: 2em 2em 9em;
 }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
 .feature{
    padding: 2em  2em 9em;
 }
}
    .feature i {
      border-radius: 100%;
      border: solid 3px #eee;
      color: #8989ba;
      display: block;
      height: 7em;
      left: 0;
      line-height: 6.75em;
      margin-top: -0.5em;
      position: absolute;
      text-align: center;
      top: 2em;
      width: 7em;
    }

      .feature i:before {
        font-size: 40px;
      }

    .feature h3 {
      margin-bottom: 0.5em;
    }

    .feature p {
      margin-bottom: 0;
    }



/* FEATURES
----------------------*/

.gradient-fill:before {
    color: #fc73b4;
    background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #fc73b4;
    background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
    top: 0;
    bottom: 0;
    left: 0;
}

.card-text {
    font-size: 14px;
}

.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}

.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #f5378e;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -webkit-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -ms-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px;
    }
}


/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #FFF;
    font-size: 19px;
    color: white;
    background: #8989ba;
}

.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    color: #633991;
}

.about_page .about_us_area {
  padding-bottom: 120px; }
.about_page .frequently_area {
  padding: 120px 0; }
.about-generic-area {
  background: #fff; }

.about-generic-area p {
  margin-bottom: 20px; }

.info{
  color: #7e77a0;
  font-size: 30px;
  font-weight: 600;
}

  /* Start About Us Area css
============================================================================================ */
.about_us_area {
  position: relative; }

.about_content {
  position: relative; }
  .about_content:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 89%;
    top: 0;
    left: 0;
    background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

    /*background: -webkit-linear-gradient(to right, #231a60 0%, #3c338d 51%, #231a60 100%);
    background: -moz-linear-gradient(to right, #231a60 0%, #3c338d 51%, #231a60 100%);
    background: -ms-linear-gradient(to right, #231a60 0%, #3c338d 51%, #231a60 100%);
    background: -o-linear-gradient(to right, #231a60 0%, #3c338d 51%, #231a60 100%);
    background: linear-gradient(to right, #231a60 0%, #3c338d 51%, #231a60 100%);*/ }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about_page .about_us_area {
    padding: 100px 0; }
  .about_page .section_gap{
    padding: 100px 0; }
  .about_page .frequently_area{
    padding: 100px 0; }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
 
  .about_us_area .about_content:before {
    width: 100%; }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {

  
  .about_us_area .about_content:before {
    width: 100%; }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
 
  .about_us_area .about_content:before {
    width: 100%; }
}
.section_gap_top {
    padding-top: 120px;
    @media (max-width: 767px) {
        padding-top: 60px;
    }
}
.section_content {
  position: relative;
  padding: 70px 0px 73px 70px; }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
 .section_content {
  padding: 70px 0px 73px; }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
 .section_content {
  padding: 70px 0px 73px; }
}
  .section_content h6 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 12px;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .section_content h6:after {
      content: "";
      position: absolute;
      background: -webkit-linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
      background: -moz-linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
      background: -o-linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
      background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
      color: #3fcaff;
      height: 1px;
      width: 50px;
      bottom: -10px;
      left: 0; }
  .section_content h3 {
    color: #fff;
    line-height: 45px;
    padding: 30px 0 30px;
    margin-bottom: 0; }
  .section_content p {
    margin-bottom: 0px;
    color: #fff;
    font-weight: 400;
    padding: 0 40px 40px 0; }

/* End About Us Area css
============================================================================================ */

.reverse{
  transform: rotate(180deg);
}

.waves{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
    /*background:url(../images/background4.jpg) center center / cover;*/
    background-position: center center;
    background:; 
}
.HeroWave svg{
    position: absolute;
    bottom: 0;
    left: 0;
}
.video{
    height: 200px;
}

/*Video Player*/
.video-play-button {
     position: absolute;
     z-index: 10;
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(50%);
     box-sizing: content-box;
     display: block;
     width: 32px;
     height: 44px;
     background: #fa183d;
     border-radius: 50%;
     padding: 18px 20px 18px 28px;
}
 .video-play-button:before {
     content: "";
     position: absolute;
     z-index: 0;
     left: 50%;
     top: 50%;
     transform: translateX(-50%) translateY(-50%);
     display: block;
     width: 80px;
     height: 80px;
     background: linear-gradient(90deg, rgba(119,116,161,1) 21%, rgba(26,26,112,1) 87%);
     border-radius: 50%;
     animation: pulse-border 1500ms ease-out infinite;
}
 .video-play-button:after {
     content: "";
     position: absolute;
     z-index: 1;
     left: 50%;
     top: 50%;
     transform: translateX(-50%) translateY(-50%);
     display: block;
     width: 80px;
     height: 80px;
     background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
     border-radius: 50%;
     transition: all 200ms;
}
 .video-play-button:hover:after {
     background-color: #da0528;
}
 .video-play-button img {
     position: relative;
     z-index: 3;
     max-width: 100%;
     width: auto;
     height: auto;
}
 .video-play-button span {
     display: block;
     position: relative;
     z-index: 3;
     width: 0;
     height: 0;
     border-left: 32px solid #fff;
     border-top: 22px solid transparent;
     border-bottom: 22px solid transparent;
}
 @keyframes pulse-border {
     0% {
         transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
         opacity: 1;
    }
     100% {
         transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
         opacity: 0;
    }
}
 .video-overlay {
     position: fixed;
     z-index: -1;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.80);
     opacity: 0;
     transition: all ease 500ms;
}
 .video-overlay.open {
     position: fixed;
     z-index: 1000;
     opacity: 1;
}
 .video-overlay-close {
     position: absolute;
     z-index: 1000;
     top: 15px;
     right: 20px;
     font-size: 36px;
     line-height: 1;
     font-weight: 400;
     color: #fff;
     text-decoration: none;
     cursor: pointer;
     transition: all 200ms;
}
 .video-overlay-close:hover {
     color: #fa183d;
}
 .video-overlay iframe {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
    /* width: 90%;
     */
    /* height: auto;
     */
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.social-icons {
    text-align: center;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #8989ba;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    text-decoration: none;
    color: #8989baa1;
}

@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}


